.gallery-container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 2rem;

  .gallery-item {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    .image-container {
      width: 100%;
      height: 200px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 200ms ease;
      }
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      img {
        transform: scale(1.05);
      }
    }
  }
}




