
<section>
  <div class="buttons-container">
    <button routerLink="/turism" class="btn-galerie" > <span class="material-icons">arrow_back</span></button>
  </div>
</section>

<h4 class="text-center green">Casa Ana</h4>
<div class="rating-stars text-center">
  <img src="assets/images/3-Stele.png" alt="">
</div>
<p>
  <strong>Casa Ana</strong> este o pensiune elegantă și modernă, care oferă o ambianță intimă, romantică, tocmai pentru că dispune de mai puține camere de oaspeți. Este un loc perfect pentru un sejur liniștit în mijlocul naturii, potrivit mai degrabă familiilor restrânse, grupurilor mai mici de prieteni și cuplurilor de îndrăgostiți. Este o casă plină de dragoste și de armonie, compartimentată așa încât să ofere căldura și intimitatea necesară musafirilor. Ciubărul amplasat chiar pe marginea Bistriței este „vedeta” pensiunii, creând la poalele muntelui o atmosferă autentică de „spa” în natură.
</p>

<p>
  Casa Ana are 4 camere de 2 persoane, 2 paturi pliante pentru copii, 2 băi, un living cu capacitate de 10 persoane, o bucătărie, un grătar, o terasă, oferind contra cost spații dedicate diferitelor jocuri de socializare (masă de tenis, masă de biliard, dartboard) și ciubăr cu hidromasaj. Chiar dacă ne aflăm într-o zonă rurală din munți, oaspeții noștri nu trebuie să se îngrijoreze pentru plata cazării în numerar. Casa Ana este dotată și cu un POS, iar plata cu cardul a devenit deja preferata turiștilor!
</p>

<hr>

<!-- Lightbox -->
<ng-image-slider [images]="GalerieAna" #nav></ng-image-slider>

<br>

<!-- Facebook & Booking -->
<section class="buttons">
  <a [href]="linkFacebookAna" target="blank"><button mdbBtn color="fb" class="waves-light facebook-btn" mdbWavesEffect>Facebook</button></a>
  <a [href]="linkBookingAna" target="blank"><button mdbBtn color="fb" class="waves-light booking-btn" mdbWavesEffect>Rezervă</button></a>
</section>

<!-- Prices Table -->
<table class="container">
  <tr class="green lead text-center">
    <th>Tip</th>
    <th>Număr</th>
    <th>Capacitate</th>
    <th>Preț  / Zi<span class="small"> (ron)</span></th>
  </tr>
  <tr>
    <td class="font-weight-bold">Apartament 4 camere</td>
    <td class="font-weight-bold text-center">1</td>
    <td class="center-V"> <span class='material-icons'>person_outline</span>  <span class="lead"> x8</span> </td>
    <td class="font-weight-bold text-center">1000</td>
  </tr>
</table>
