<h3 class="green">Bucătar</h3>
  <p>
    Îți dorești să faci parte dintr-o echipă unită, în care să poți avea și tu un cuvânt de spus? Atunci, te afli unde trebuie! Firma Ginivișa își mărește colectivul și ar fi interesată să te cunoască! Angajăm personal pentru postul de Bucătar
  </p>

<h5 class="green">Locația</h5>
  <p>
    Locația noastră este una turistică, aflată într-o zonă montană. Este vorba despre pensiunea Hanul Vânătorului din satul Gureni, comuna Peștișani (județul Gorj), unde îți vei desfășura activitatea. Mediul de lucru este unul foarte plăcut, la care vei veni cu drag dacă ne alegi și te alegem!
  </p>

<h5 class="green">Ești candidatul ideal, dacă:</h5>
  <ul>
    <li>Ești un bucătar pasionat de meseria ta;</li>
    <li>Ești dornic sa înveți lucruri noi și ții cont de părerile celor din echipă;</li>
    <li>Ești punctual, organizat, curat, ordonat, și iubești munca în colectiv;</li>
    <li>Deții calificări în domeniu (constituie un atu, nu este obligatoriu);</li>
    <li>Ești dispus să lucrezi în zilele de weekend sau de sărbătoare, cu mențiunea că vei putea să-ți recuperezi orele libere în timpul săptămânii.</li>
  </ul>

<h5 class="green">Responsabilități:</h5>
  <ul>
    <li>Să respecți rețetele stabilite împreună;</li>
    <li>Să organizezi bucătăria;</li>
    <li>Să îți respecți colegii;</li>
    <li>Să îți respecți atribuțiile;</li>
    <li>Să îți îndeplinești îndatoririle din fișa postului.</li>
  </ul>

<h5 class="green">Cum poți aplica?</h5>
  <p>Te consideri omul potrivit la locul potrivit? Atunci, poți aplica la acest job până la data de 05.05.2022, trimițându-ne o scrisoare de intenție în care să te prezinți și să ne spui ce te motivează pentru acest job, la adresa <strong>contact@ginivisa.com</strong> Dacă te vom considera bun pentru echipa noastră, te vom contacta pentru a stabili organizarea unei probe practice.</p>
