<h3 class="green">Social Media Manager</h3>

<p>
  <strong>Ginvisa SRL</strong> este în căutarea unui nou coleg, care să se ocupe de partea de <strong>prezenta web</strong> si <strong>social media</strong>. Dacă ai experiență în domeniu și te regăsești în cele descrise mai jos, nu ezita sa ne contactezi.
</p>
<p>
  Dacă dorești să faci parte din echipa noastră, tu vei fi cel care se va ocupa cu crearea poveștilor pentru echipa și produsele noastre, dar și de gestionarea paginilor Web și a conturilor de social media pe care le deținem. Societatea noastră este implicată și în protejarea mediului înconjurător cu ajutorul Fundației ”Valea Bistriței” pe care o sponsorizează, astfel dorindu-ne ca viitorul nostru coleg să fie și el implicat în acțiunile pe care această asociație le desfășoară prin publicarea de articole specifice.
</p>

<h6 class="green">Ce ne dorim de la tine?</h6>
<ul>
  <li>Cunoști tool-uri specifice pentru editat, publicat pe Web, si social media.</li>
  <li>Îti place sa scrii articole (pentru prezentare de produse sau servicii, precum și despre natura, drumetii, oameni) si sa le publici (in presa, pe social media).</li>
  <li>Ești atent la detalii.</li>
</ul>

<h6 class="green">Ar fi bine să deții, însă nu sunt cerințe absolute:</h6>
<ul>
  <li>Experiență în fotografiere (pentru a avea poze pentru promovare de o calitate cât mai bună).</li>
  <li>Cunoștințe în photoshop.</li>
  <li>Experienta in domeniu, cum ar fi creat de strategii pentru social media sau redactat de articole de impact.</li>
</ul>

<h6 class="greeb">Ce vei face?</h6>
<ul>
  <li>Ce vei face?</li>
  <li>Vei crea conținut captivant atât pentru site-ul firmei, cât și pentru restul canalelor de social media.</li>
  <li>Vei gestiona site-ul firmei, cât și paginile de social media specifice acesteia.</li>
  <li>Vei face research și vei veni cu idei de promovare atât în mediul online, cât și în cel offline.</li>
  <li>Vei publica regulat pe canalele firmei.</li>
  <li>Vei edita și vei adapta conținutul pentru fiecare canal, astfel încât să îl faci cât mai atractiv.</li>
  <li></li>
</ul>


<h6 class="green">Full-time sau part time?</h6>
<p>Ne dorim o persoană care să lucreze full-time, însă acceptăm și persoană care dorește part time. Indiferent de modul de lucru, vei face parte dintr-o echipă dinamică, prietenoasă și plină de entuziasm. Pentru postul full-time oferim beneficii complete, precum: salariu avantajos, carte de muncă, asigurare de sănătate ș.a.m.d. Pentru postul part-time, datorită faptului că ne dorim ca toți angajații noștri să aibă parte de o experiență cât mai plăcută, tot ce-o să difere este salariul.</p>

<h6 class="green">Remote, fizic sau hibrid?</h6>
<p>Ne-am dori ca noul coleg să lucreze hibrid, astfel acesta trebuind să vină fizic doar atunci când va trebui să facă poze pentru diferite postări, dar și pentru eventualele interviuri sau documentații pentru articole. Însa dacă acest lucru nu este posibil se iau în considerare și una din cele două variante.</p>

<h6 class="green">Cum poți aplica?</h6>
<p>Dacă te regăsești în cele descrise mai sus nu ezita să ne trimiți un email la adresa <strong>contact@ginivisa.com</strong> în care să ne atașezi CV-ul tău și în care să descrii de ce crezi că te potrivești acestui job. </p>
