.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.pachet-turistic-container {
  position: relative;
  .close-btn {
    position: absolute;
    width: 3rem;
    height: 2.6rem;
    top: 0.5rem;
    right: 0.5rem;
  }
}
