<!-- Header -->
<section class="header-container">
  <!-- Background image -->
  <img class="header-image-background" src="assets/images/Header-Turism-Ana.jpg" alt="">
  <div class="gradient"></div>

  <!-- Header content -->
  <div class="container header-content">
    <div class="header-logo">
      <img src="assets/images/Logo Ginivisa.png" alt="">
    </div>
    <!-- Header Title -->
    <div class="header-title">
      <h1 class="blue">Ginivișa Gorjului</h1>
      <h2 class="green">Aducem Valea Bistriței mai aproape de tine!</h2>
    </div>
  </div>
</section>

<!-- Page Content -->
<div class="container">
  <app-turism-descriere-ana></app-turism-descriere-ana>
</div>



<!-- Pachet Turistic -->
<div #target class="container  pachet-turistic-container">
  <hr>
  <section>
    <button class="close-btn" *ngIf="displayPachetTuristic" (click)="closePachetTuristic()"><span class="material-icons">close</span></button>
    <div class="buttons-container">
      <button *ngIf="!displayPachetTuristic" class="btn-galerie" (click)="showPachetTuristic(); scroll(target)">Pachete Turistice <span class="material-icons">expand_more</span></button>
    </div>
  </section>

  <app-pachet-turistic  *ngIf="displayPachetTuristic"></app-pachet-turistic>
</div>

