<h3 class="green">Contabil</h3>
  <p>
    Îți dorești să faci parte dintr-o echipă unită, în care să poți avea și tu un cuvânt de spus? Atunci, te afli unde trebuie! Firma Ginivișa își mărește echipa și, dacă ești contabil, este interesată să te cunoască!
  </p>

<h5 class="green">Locația</h5>
  <p>
    Locația noastră este una turistică, aflată într-o zonă montană. Este vorba despre pensiunea Hanul Vânătorului din satul Gureni, comuna Peștișani (județul Gorj), unde îți vei desfășura activitatea. Mediul de lucru este unul foarte plăcut, la care vei veni cu drag dacă ne alegi și te alegem!
  </p>

<h5 class="green">Cerințe:</h5>
  <ul>
    <li>Licență în administrarea afacerilor sau în alte domenii asemănătoare;</li>
    <li>Capabilitate în diagnosticarea rapidă a problemelor și prevenirea potențialelor probleme;</li>
    <li>Cunoștințe în analiza datelor și a indicatorilor de performanță;</li>
    <li>Cunoștințe avansate de infrastructură IT, MS Office, comunicare și organizare online (Google Chat, Google Doc, Drive, Meets/Zoom/Skype, Trello, etc) - comunicarea verbală prin telefon este descurajată și va fi aproape inexistentă în firma noastră;</li>
    <li>Abilități organizatorice și de conducere remarcabile;</li>
    <li>Abilități de vorbit în public;</li>
    <li>Aptitudini în luarea deciziilor și în rezolvarea problemelor;</li>
    <li>Cunoștințe de Saga.</li>
  </ul>

<h5 class="green">Descrierea jobului:</h5>
    Asigură acuratețea și caracterul complet al înregistrărilor contabile, cum ar fi:
  <ul>
    <li>Înregistrarea facturilor în conformitate cu Standardele românești de contabilitate și politica internă</li>
    <li>Înregistrarea diferitelor note: angajamente, avansuri, cheltuieli plătite în avans, impozite, mijloace fixe etc;</li>
    <li>Este responsabil cu verificarea caselor de marcat, POS-urilor și a extrasului bancar;</li>
    <li>Verifică reconcilierea dintre dosarele de plăți și dovezile contabile;</li>
    <li>Depune declarații la BNR, Institutul de Statistică, Intrastat;</li>
    <li>Acordă asistență în alte proiecte contabiles.</li>
  </ul>

<h5 class="green">Ce îți oferim:</h5>
    <ul>
      <li>Asigurare de sănătate;</li>
      <li>Salariu motivant și bonusuri ocazionale;</li>
      <li>Vechime în câmpul muncii;</li>
      <li>Un mediu de lucru plăcut.</li>
    </ul>

    În funcție de posibilitatea angajatului, activitatea profesională se poate desfășura de acasă sau de la birou.
