<footer>

  <div class="container footer-container">
    <!-- Links Column -->
    <div class="footer-column">
      <h4 class="text-center">Link-uri</h4>
      <div class="d-flex">
        <div class="footer-row">
          <mat-icon>euro_symbol</mat-icon>
          <span class="footer-link" routerLink="/donatie">Donație</span>
        </div>
        <div class="footer-row">
          <mat-icon>work</mat-icon>
          <span class="footer-link" routerLink="/joburi">Joburi</span>
        </div>
      </div>
      <div class="d-flex">
        <div class="footer-row">
          <mat-icon>announcement</mat-icon>
          <span class="footer-link" routerLink="/noutati">Noutăți</span>
        </div>
        <div class="footer-row">
          <mat-icon>build</mat-icon>
          <span class="footer-link" routerLink="/admin">Admin</span>
        </div>
      </div>
    </div>

    <!-- Social -->
    <div class="footer-column">
      <h4 class="text-center">Social</h4>
      <div class="container social">

        <a href="https://www.facebook.com/Ginivi%C8%99a-103729931810586" target="blank">
          <img src="assets/images/Social-facebook.png" alt="">
        </a>
        <a href="https://www.instagram.com/"  target="blank">
          <img src="assets/images/Social-instagram.png" alt="">
        </a>

      </div>
    </div>

    <!-- Address Column -->
    <div class="footer-column">
      <h4 class="text-center">Contact</h4>
      <div class="footer-row">
        <mat-icon>home</mat-icon>
        <span>Județ Gorj, comuna Peștișani, sat Gureni, strada Barajelor, nr. 84</span>
      </div>
      <div class="footer-row">
        <mat-icon>email</mat-icon>
        <span>ginivisa@ginivisa.com</span>
      </div>
      <div class="footer-row">
        <mat-icon>phone</mat-icon>
        <span>+40 784 503 599</span>
      </div>
    </div>

  </div>

  <!-- Copyright -->
  <hr>

  <div class="container copyright">
    © 2022 Copyright: Smeu Dragoș
  </div>

</footer>
