<header>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top my-navbar">
    <div class="container nav-container">
      <!-- Logo -->
      <a class="navbar-brand" routerLink="/home" id="logo"   *ngIf="displayLogo">
        <img src="assets/images/Logo Ginivisa.png" alt=""   >
      </a>
      <a class="navbar-brand" routerLink="/home" id="logo-text">Ginivișa</a>

      <!-- Hamburger Menu -->
      <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- NavBar - Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link " routerLink="/home" routerLinkActive="active">Acasă</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/magazin-fructe" routerLinkActive="active">Magazin de fructe</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/turism" routerLinkActive="active">Turism</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  </header>

