<h4 class="green">Zmeura</h4>

<p>
  Zmeura este unul dintre cele mai populare fructe de pădure, fiind de culoare roșu- rozaliu strălucitor și având un miros acrișor- aromat. Face parte din familia Rosaceae și este cultivată atât pentru consumul fructelor proaspete, cât și pentru procesarea industrială, deoarece se folosește pentru obținerea xilitolului, un îndulcitor natural. Aceasta se poate întâlni pe tot teritoriul României, fiind specifică zonelor cu climă temperat-continentală. Zmeurul se simte cel mai bine în regiunile deluroase și montane, fiind iubitor de răcoare și de umezeală. Există mai multe soiuri de zmeură, între care amintim: Polka, Heritage, Cayuga, Citria, Opal, Latham, Ruvi, Willamette, Veten, Noma, Sugana, Laszka.
</p>

<p>
  O legendă antică spune că, la origini, zmeura ar fi avut fructe albe. Dar într-o zi, Ida, fiică a regelui Cretei și una dintre nimfele care îl îngrijeau pe Zeus în copilărie, s-ar fi înțepat în spinii unui zmeur, pe când voia să-i culeagă roadele pentru tânărul său stăpân. Micuțele fructe s-au pătat de sângele nimfei, iar de atunci, și-ar fi schimbat culoarea în roșu-sângeriu.
</p>

<p>
  În actualitate, zmeura a devenit extrem de căutată, în special în industria alimentară. Însă ea are un rol și în industria farmaceutică. Aidoma căpșunilor, zmeura ajută foarte mult organismul uman, prin întărirea sistemului imunitar, prin reducerea riscului de diabet și de cancer, prin proprietățile sale antiinflamatorii, dar și prin reglarea tranzitului intestinal.
</p>

