<!-- Header -->
<section class="header-container">
  <!-- Background image -->
  <img class="header-image-background" src="assets/images/Header-Contact.jpg" alt="">
  <div class="gradient"></div>

  <!-- Header content -->
  <div class="container header-content">
    <div class="header-logo">
      <img src="assets/images/Logo Ginivisa.png" alt="">
    </div>
    <!-- Header Title -->
    <div class="header-title">
      <h1 class="blue">Pentru sănătate și relaxare</h1>
    </div>
  </div>
</section>

<section>
  <div class="container contact-container">

    <!-- Contact simplu -->
    <div class="contact-simplu">
      <div class="contact-group">
        <p>Nu ai găsit ce cauți pe pagina noastră? Sau pur și simplu vrei să aflii mai multe despre ceea ce facem noi? Nu ezita să ne contactezi</p>
      </div>

      <div class="contact-group">
        <h4 class="green">Program Birou</h4>
        <ul>
          <li>Luni - Vineri: 08:00 - 20:00</li>
          <li>Weekend: 08:00 - 14:00</li>
        </ul>
      </div>

      <div class="contact-group">
        <div class="row">
          <mat-icon>email</mat-icon>
          <span *ngIf="!displayTEL">contact@ginivisa.com</span>
          <span class="contact-link"  *ngIf="displayTEL"><a  href="mailto:contact@ginivisa.com">contact@ginivisa.com</a></span>
        </div>

        <div class="row">
          <mat-icon>phone</mat-icon>
          <span *ngIf="!displayTEL">+40 784 503 599</span>
          <span class="contact-link"  *ngIf="displayTEL"><a  href="tel:+40 784 503 599">+40 784 503 599</a></span>
        </div>
      </div>

    </div>



    <!-- COntact Form -->
    <!-- <div class="contact-column">
      <app-contact-form></app-contact-form>
    </div> -->

    <!-- Google Maps Api -->
    <div class="contact-column">
      <iframe id="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5045.982592149959!2d23.038195926013564!3d45.12347967866043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8938f6f520a6fa4f!2zNDXCsDA3JzI0LjYiTiAyM8KwMDInMzAuNCJF!5e1!3m2!1sro!2sro!4v1639138139186!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</section>
