<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
  <!-- Name -->
  <div class="field">
    <label for="" class="label">Nume</label>
    <input type="text"
      name="name"
      class="input"
      placeholder="Numele dumneavoastra... *"
      [(ngModel)]="name"
      #nameInput="ngModel"
      required >
    <div class="help is-error" *ngIf="nameInput.invalid && nameInput.touched">Necompletat *</div>
    </div>

  <!-- Email -->
  <div class="field">
    <label for="" class="label">Email</label>
    <input type="text"
      name="email"
      class="input"
      placeholder="Adresa de mail... *"
      [(ngModel)]="email"
      #emailInput="ngModel"
      required >
    <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">Necompletat *</div>
  </div>

  <!-- Message -->
  <div class="field">
    <label for="" class="label">Mesaj</label>
    <textarea type="text"
      name="text"
      class="textarea"
      style="height:170px"
      placeholder="Mesajul dumneavoastra... *"
      [(ngModel)]="text"
      #textInput="ngModel"
      required></textarea>
    <div class="help is-error" *ngIf="textInput.invalid && textInput.touched">Necompletat *</div>
  </div>

  <!-- Send Button -->
  <button type="submit">Trimite</button>

</form>
