<h4 class="text-center green">Hanul Vânătorului</h4>

<!-- Lightbox -->
<ng-image-slider [images]="GalerieHan" #nav></ng-image-slider>

<br>

<!-- Facebook & Booking -->
<section class="buttons">
  <a [href]="linkFacebookHan" target="blank"><button mdbBtn color="fb" class="waves-light facebook-btn" mdbWavesEffect>Facebook</button></a>
  <a href="/assets/Meniu Han.pdf" target="blank"><button mdbBtn color="fb" class="waves-light booking-btn" mdbWavesEffect>Meniu</button></a>
  <a [href]="linkBookingHan" target="blank"><button mdbBtn color="fb" class="waves-light booking-btn" mdbWavesEffect>Rezervă</button></a>
</section>

<hr>

<p>
  <strong>Hanul Vânătorului</strong> este o pensiune construită în stilul conacelor boierești de odinioară. Este nouă și miroase a lemn proaspăt, ducându-i pe amatorii de istorie cu gândul la o anexă dintr-o « villa-rustica » din Antichitatea Imperiului Roman. Este spațioasă și cuprinde 5 camere de 2 persoane cu băi private, o cameră de o persoană cu baie privată, un apartament de 4 persoane cu baie proprie, un living, o sală de mese de 25 de persoane, o sală de jocuri, o bucătărie, un grătar, dar și un loc special amenajat pentru focuri de tabără. Atracția principală a pensiunii este ciubărul cu apă caldă, amplasat chiar pe malul râului, unde oaspeții noștri se pot bucura de un altfel de „spa”, la poalele Masivului Vâlcan.
</p>

<p>
  Oferind panorame de neuitat de la etaj și de la terase, Hanul Vânătorului este potrivit familiilor numeroase, dar și grupurilor mari de prieteni care vor să trăiască experiențe unice într-un loc feeric, departe de aglomerația și de poluarea urbană. Și ca să fie totul de-a dreptul perfect, de acum nu trebuie să-ți mai faci griji că nu vei avea destui bani cash la tine pentru cazare! Suntem dotați cu POS și acceptăm plata cu cardul!
</p>
