<h4 class="green">Arahidele</h4>

<p>
  Alunul de pământ, intitulat științific <strong>Archis hypogaea</strong>, este o plantă din familia leguminoaselor, care are semințele comestibile, cunoscute sub denumirea de arahide.
</p>

<p>
  Arahidele moderne s-au născut dintr-un hibrid între două specii sălbatice de arahide. Acestea au apărut în America de Sud, acum mai bine de 3500 de ani. Ele erau îngropate de către incași atunci când cineva murea, pentru a-i servi ca hrană decedatului în viața de apoi. Prin intermediul exploratorilor spanioli, fructele au fost importate în Spania, urmând să fie răspândite pe teritoriul Africii și al Asiei. Din Africa, acestea au fost aduse și în Statele Unite, fiind transportate pe vasele cu sclavi. Consumul lor a cunoscut o creștere importantă în timpul Războiului Civil American din anii 1861-1865, pentru că atât armata nordică, cât și cea sudică, considerau arahidele drept un produs alimentar consistent și valoros. În prezent, acestea se cultivă în toată lumea și sunt folosite ca ingredient principal în multe rețete comune sau sofisticate.
</p>

<p>
  Din perspectiva beneficiilor pentru sănătate oferite de acest fruct, trebuie să menționăm faptul că alunele conțin nutrienți esențiali, precum fibre, vitamine, polifenoli, minerale, antioxidanți, arginină și proteine. Un consum potrivit de arahide previne diabetul de tipul 2, dar și bolile inimii, prin reglarea nivelului de colesterol din sânge. Datorită aportului important de proteine și de aminoacizi, aceste alimente sunt foarte căutate și în prepararea unor tratamente pentru accelerarea creșterii părului. Mai mult decât atât, conform unor studii mai recente, alunele sunt eficiente și în reducerea apariției cancerului mamar la femei.
</p>
