<!-- Header -->
<section class="header-container">
    <!-- Background image -->
    <img class="header-image-background" src="assets/images/BrainHub/0. Curte.jpg" alt="">
    <div class="gradient"></div>

    <!-- Header content -->
    <div class="container header-content">
      <div class="header-logo-BrainHub">
        <img src="assets/images/BrainHub/Logo - BrainHub.png" alt="">
      </div>
      <!-- Header Title -->
      <div class="header-title">
        <h1 class="blue">Brain Hub Cișmigiu</h1>
        <h2 class="green">Libertatea ta de lucru, prioritatea noastră!</h2>
        <!-- <h2  class="green">Camping și cazare în județul Gorj.</h2> -->
      </div>
    </div>
  </section>

  <!-- Page Content -->
  <div class="container">

    <section>
        <h4 class="green">Despre noi</h4>
        <p>
            Noi suntem o echipă dinamică și creativă, care înțelege importanța de a lucra într-un spațiu agreabil, dotat cu toate condițiile și facilitățile oferite de o clădire de birouri obișnuită. Suntem un hub nou înființat, aflat chiar în centrul Bucureștiului, vizavi de Parcul Cișmigiu. Suntem deschiși noilor colaborări cu parteneri din diferite medii de afaceri și suntem adaptabili cerințelor acestora.
        </p>
    </section>

    <section>
        <h4 class="green">Misiunea</h4>
        <p>
            Libertatea reprezintă cuvântul nostru de ordine. Știm că majoritatea clienților noștri sunt freelanceri, așa că obiectivul nostru este de a pune la dispoziția lor un program flexibil, un loc fără limitări precum cele de la un sediu obișnuit de lucru, în care să se simtă în largul lor, pregătiți să presteze o muncă de calitate.
        </p>
    </section>

    <section>
        <h4 class="green">Contextul</h4>
        <p>
            În timpul pandemiei de COVID-19, lucrul de acasă s-a răspândit ca un nou mod de activitate profesională la scară globală. Restricțiile și teama de virus au inițiat o readaptare a pieței muncii, privind spațiul și programul de lucru. Această readaptare a devenit un obicei care va continua mulți ani după terminarea pandemiei. Însă lucrul de acasă sau remote, așa cum mai este denumit, vine la pachet cu o serie de provocări: lipsa spațiului adecvat, a intimității și a condițiilor necesare desfășurării activităților profesionale. Aici, intervenim noi și vă punem la dispoziție un hub numai potrivit, care vă scapă de orice grijă!
        </p>
    </section>

    <section>
        <h4 class="green">Spațiile noastre</h4>
        <p>
            Brain Hub Cișmigiu dispune de birouri, bucătărie și baie pe fiecare etaj, o sală de conferință, o terasă și o curte interioară. Spațiul de birouri este repartizat în numeroase camere, care conțin peste 15 birouri aerisite, oferind intimitate utilizatorilor. Birourile sunt alcătuite dintr-un blat pal și mdf, reglabile, cu înălțimea între 63 și 127 cm, iar scaunele sunt, de asemenea, reglabile și foarte confortabile.
            În sala de conferință, găsiți un Smart TV de utilizat în cadrul conferințelor online sau pe durata diverselor prezentări. În plus, sala dispune și de un whiteboard.
            Bucătăria este complet echipată cu mobilier nou și modern, dar și cu aparate indispensabile la un loc de muncă. Spațiul cuprinde un cuptor cu microunde, mașină de spălat vase, veselă, frigider, dozator de apă potabilă, cafea, o varietate de ceaiuri și cappucino la discreție.
            Baia este dotată cu toate utilitățile necesare, precum toaleta, chiuveta și lavoarul noi și moderne. De asemenea, vă punem la dispoziție materiale consumabile pentru toaletă și igienă.
            Terasa hub-ului este spațioasă și aerisită, iar curtea interioară poate fi utilizată de către clienți și ca loc de relaxare în pauze.
        </p>
    </section>

    <section>
        <h4 class="green">Alege Brain Hub Cișmigiu!</h4>
        <p>
            Știm că industria hub-urilor a căpătat amploare în ultimul timp, mai ales în București. Cu siguranță, în calitate de freelancer sau angajat al unei corporații,  ai de unde alege. Așa că probabil te întrebi de ce ne-ai alege pe noi și nu pe alții. Ce avem noi în plus?
        </p>
    </section>

    <section>
        <h5 class="green">Avantajele hub-ului nostru sunt multiple și adaptabile la cerințele dumneavoastră:</h5>
        <ul>
            <li>Locația este bună, centrală și accesibilă. Ne aflăm la 5 minute de parcul Cișmigiu și la 20 de minute de mers pe jos de Centrul Vechi al Bucureștiului.</li>
            <li>Locurile de parcare sunt incluse în serviciile noastre, fiind disponibile în curtea interioară a clădirii.</li>
            <li>Semnalul WI-FI este impecabil, căci suntem conștienți de nevoia clienților noștri de a dispune de o conexiune perfectă la Internet, la orice oră din zi ori din noapte.</li>
            <li>Brain Hub Cișmigiu este conectat și la prize exterioare, oferind acces la internetul de mare viteză atât din interiorul locației, cât și din exteriorul ei, pe terasa special amenajată.</li>
            <li>Prețul chiriei este unul avantajos și competitiv, de doar 200 de euro pe lună.</li>
            <li>Accesul la hub este nelimitat, iar calitatea serviciilor va fi aceeași, indiferent de numărul de ore petrecute în spațiul nostru.</li>
            <li>Disponibilitatea unei Meeting room, dedicată ședințelor face to face sau întâlnirilor de socializare inițiate de colegii cu care împărțiți hub-ul. Sala poate fi utilizată și pentru micile momente de destindere și de recreere în compania colegilor.</li>
            <li>Aveți servicii de gastronomie la dispoziție chiar în apropierea locației, pentru servirea mesei la restaurant sau pentru comenzi.</li>
        </ul>
    </section>

    <!-- Galerie -->
    <hr>
    <section class="gallery-btn">
        <button  *ngIf="!displayGallery"  (click)="showGallery()">Galerie  <span class="material-icons">expand_more</span></button>
        <button  *ngIf="displayGallery"  (click)="hideGallery()">Galerie  <span class="material-icons">close</span></button>
    </section>

    <section class="gallery-container" *ngIf="displayGallery">
        <app-swiper-gallery></app-swiper-gallery>

    </section>
    <hr>
    <!-- Contact -->
    <section>

        <div class="contact-container">

          <div class="contact-column contact-simplu">
            <h4 class="green mt-3">Contact BrainHub</h4>

            <div class="contact-row">
                <mat-icon>home</mat-icon>
                <span>Strada Popa Tatu, Nr. 18, Sector 1, București.</span>
            </div>
            <div class="contact-row">
                <mat-icon>phone</mat-icon>
                <span *ngIf="!displayTEL">+40 724 363 511</span>
                <span class="footer-link"  *ngIf="displayTEL"><a  href="tel:+40 784 503 599">+40 784 503 599</a></span>
            </div>
            <div class="contact-row">
                <mat-icon>email</mat-icon>
                <span>contact@ginivisa.com</span>
            </div>
          </div>
          <!-- Contact Form -->
          <!-- <div class="contact-column">
            <app-contact-form></app-contact-form>
          </div> -->

          <!-- Google Maps Api -->
            <div class="contact-column">
              <iframe id="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.628569950852!2d26.08480050891648!3d44.44078075415375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff5a2fdbd6cb%3A0x9f231d34c6d253c9!2sStrada%20Popa%20Tatu%2018%2C%20Bucure%C8%99ti%20010805!5e0!3m2!1sro!2sro!4v1650830405543!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

    </section>



  </div>
