@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/thumbs";
@import "~swiper/css/pagination";


  .ziua {
    padding-top: 0.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    .ziua-item {
      position: relative;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      img{
        width: 100%;
        max-height: 320px;
        border-radius: 0.5rem;
        object-fit: cover;
      }
      .title-container {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.5rem;
        padding: 0.5rem;
        text-shadow: 1px 1px 3px black;
        transition: all 150ms ease;
        h6 {
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .small {
            padding: 0.5rem;
          }
        }
      }
      &:hover {
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
        .title-container {
          background-color: rgba(0, 59, 28, 0.363);
          border: 2px solid white;
          box-shadow: 1px 1px 3px black;
          h6 {
            opacity: 1;
          }
        }
      }
    }
  }

  // Modal
// Modal
.modal-container {
  position: fixed;
  // text-align: center;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  .modal {
    position: fixed;
    // text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    color: white;
    overflow: auto;
    .modal-content {
      padding: 0.5rem;
      background-color: rgba(0, 0, 0);
      img {
        width: 100%;
        margin: auto;
        max-width: 1100px;
        opacity: 1;
      }
      .description {
        padding-top: 0.5rem;
        padding-bottom: 0;
        width: 100%;
        margin: auto;
        max-width: 1100px;
      }
      // Swiper
      .swiper {
        width: 100%;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }
      .swiper-slide {
        background-size: cover;
        background-position: center;
      }
      .mySwiper2 {
        height: 80%;
        width: 100%;
      }
      .mySwiper {
        border: 1px solid red;

        padding: 10px 0;
      }
      .mySwiper .swiper-slide {
        width: 20%;
        height: 100%;
        opacity: 0.4;
        cursor: pointer;
      }
      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }
  .close-modal {
    position: fixed;
    z-index: 100000;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 2.6rem;
    background-color: #3da542;
  }
}




@media only screen and (max-width: 471px) {
  .activitati-item {
    h5 {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}






