
<section  #target>
  <!-- <hr> -->
  <div class="thumb-container">
    <!-- Hanul Vanatorului -->
    <!-- <div class="thumb-link turism-thumb"   (click)="showHan(); scroll(target)"> -->
    <div class="thumb-link turism-thumb"   routerLink="/turism-han">
      <div class="image-container">
        <img src="assets/images/Turism/MainThumb - Hanul Vanatorului.jpg" alt="">
      </div>
      <div class="title-container">
        <h4>Hanul Vânătorului</h4>
      </div>
    </div>
    <!-- Vila Ana -->
    <!-- <div class="thumb-link turism-thumb"   (click)="showAna(); scroll(target)"> -->
      <div class="thumb-link turism-thumb"   routerLink="/turism-ana">
      <div class="image-container">
        <img src="assets/images/Turism/MainThumb - Vila Ana.jpg" alt="">
      </div>
      <div class="title-container">
        <h4>Casa Ana</h4>
      </div>
    </div>
  </div>

</section>


<!-- Villa Description -->
<!-- <section class="description-container">
  <button class="close-btn" *ngIf="ana || han" (click)="hideAll()"><span class="material-icons">close</span></button>
  <div>
    <app-turism-descriere-vanator *ngIf="han"></app-turism-descriere-vanator>
    <app-turism-descriere-ana *ngIf="ana"></app-turism-descriere-ana>
  </div>
</section> -->
