<h3 class="green">Ospătar</h3>
  <p>
    Îți dorești să faci parte dintr-o echipă unită, în care să poți avea și tu un cuvânt de spus? Atunci, te afli unde trebuie! Firma Ginivișa își mărește colectivul și ar fi interesată să te cunoască! Angajăm personal pentru postul de Ospătar.
  </p>

<h5 class="green">Locația</h5>
  <p>
    Locația noastră este una turistică, aflată într-o zonă montană. Este vorba despre pensiunea Hanul Vânătorului din satul Gureni, comuna Peștișani (județul Gorj), unde îți vei desfășura activitatea. Mediul de lucru este unul foarte plăcut, la care vei veni cu drag dacă ne alegi și te alegem!
  </p>

<h5 class="green">Ești candidatul ideal, dacă:</h5>
  <ul>
    <li>Ești un ospătar pasionat de meseria ta;</li>
    <li>Ești dornic sa înveți lucruri noi și ții cont de părerile celor din echipă;</li>
    <li>Ești punctual, organizat, curat, ordonat, și ai viteză de reacție;</li>
    <li>Ești amabil, social și îți place lucrul cu clienții;</li>
    <li>Deții calificări în domeniu (constituie un atu, nu este obligatoriu);</li>
    <li>Ești dispus să lucrezi în zilele de weekend sau de sărbătoare, cu mențiunea că vei putea să-ți recuperezi orele libere în timpul săptămânii.</li>
  </ul>

<h5 class="green">Responsabilități:</h5>
  <ul>
    <li>Să preiei comenzile de mâncare și băutură într-o manieră eficientă și
      profesionistă;</li>
    <li>Să acorzi atenția cuvenită și să asiguri servicii ireproșabile clienților;</li>
    <li>Să cunoști meniul, astfel încât să poți oferi în orice situație informații competente cu privire la felurile de mancare, tacâmuri și băuturi;</li>
    <li>Să îndeplinești îndatoririle din fișa postului;</li>
    <li>Să fii amabil și sociabil cu clienții;</li>
    <li>Să ai viteză de reacție.</li>

  </ul>

<h5 class="green">Cum poți aplica?</h5>
  <p>Te consideri omul potrivit la locul potrivit? Atunci, poți aplica la acest job până la data de 05.05.2022, trimițându-ne o scrisoare de intenție în care să te prezinți și să ne spui ce te motivează pentru acest job, la adresa <strong>contact@ginivisa.com</strong> Dacă te vom considera bun pentru echipa noastră, te vom contacta pentru a stabili organizarea unei probe practice.</p>
