.atractii-gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  .atractii-item {
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    img{
      width: 100%;
      border-radius: 0.5rem;
    }
    h5 {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0.5rem;
      padding: 0.5rem;
      text-shadow: 1px 1px 3px black;
    }
    &:hover {
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
      h5 {
        background-color: rgba(0, 59, 28, 0.363);
        border: 2px solid white;
        box-shadow: 1px 1px 3px black;
      }
    }
  }
}


// Modal
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.432);
}
