<section>
    <h4 class="green">Atractii Turistice</h4>
    <p>Valea Bistriței de Gorj este petecul de pământ în care natura a modelat o lume sălbatică, înțesată de munți, ape și păduri de o frumusețe spectaculară. Pe aceste meleaguri rustice, fabuloase, omul a dat o mână de ajutor naturii, amenajând drumuri, stațiuni montane, localități și muzee ce au devenit principalele atracții turistice din zona Gorjului. Despre o parte dintre ele, cele situate chiar în apropierea fermei Ginivișa, vom vorbi în continuare. Unele muzee și case memoriale amintite mai jos sunt cu atât mai speciale, cu cât sunt legate de locul nașterii și de viețile unor personalități de seamă din regiunea Olteniei.</p>

    <div class="atractii-gallery">
      <div class="atractii-item text-center" *ngFor="let atractie of Atractii"  appModalClick    (click)="showModal($event)"   id={{atractie.id}}>
        <img src={{atractie.thumbURL}} alt=""  id={{atractie.id}}>
        <h5   id={{atractie.id}}>{{atractie.title}}</h5>
      </div>
    </div>
<!-- Modal -->

    <div class="modal-container">
      <div class="modal"   *ngFor="let atractie of Atractii"  id={{atractie.id}}>
        <div class="modal-content">
          <img src={{atractie.imageURL}} alt="">
          <div class="description">
            <h4>{{atractie.title}}</h4>
            <p>{{atractie.text}}</p>
          </div>
        </div>
        <button id={{atractie.id}} class="close-modal" (click)="closeModal($event)">
          <span id={{atractie.id}} class="material-icons" >close</span>
        </button>
      </div>


    </div>

</section>

<!-- Modal -->
<!-- <section>
    <div class="modal-container"></div>
    <div class="modal">
      <img src="assets/images/Turism/Atractii/Casa-Memoriala-Brancusi.jpg" alt="">
      <h4>Casa memorială „Brâncuși”</h4>
      <p>Casa memorială „Constantin Brâncuși” este situată în satul Hobița din comuna Peștișani, la aproximativ 11 km de zona de camping și de cea destinată cultivării fructelor, și reprezintă locul natal al sculptorului Constantin Brâncuși. Arhitectura populară a acesteia este specifică sfârșitului secolului XIX și se poate observa pe ușa cămării, stâlpilor prispei și nu numai.  În fiecare încăpere se găsesc diferite obiecte ce amintesc de viața de zi cu zi a sculptorului, dar și de cariera lui. Cu siguranță un obiectiv pe care trebuie să-l bifați pe lista cu lucruri de văzut!</p>
    </div>
</section> -->
