<h4 class="green">Căpșunile</h4>
<p>
  Căpșunile sunt primele fructe ale primăverii și sunt mai deosebite fiindcă își poartă semințele în exterior. Există mai mult de 20 de specii descrise, cu mulți hibrizi și soiuri. Acestea au un gust variat, de la „destul de dulce” la „mai degrabă o tartă”.
</p>

<p>
  Soiurile cele mai utilizate în zilele noastre provin din America Centrală și de Sud, fiind cultivate în Europa din secolele XV-XVI, după descoperirea Americii. Cu toate acestea, „fructul zeilor”, așa cum numeau romanii și grecii căpșuna, era considerat drept unul de lux în Antichitate. Astfel, căpșunile erau accesibile doar nobililor și familiilor regale.
</p>

<p>
  În prezent, căpșunile sunt asociate deseori cu fructele dragostei, datorită culorii și formelor acestora, care seamănă foarte bine cu niște inimi în miniatură. În continuare, deserturile ce conțin aceste fructe reprezintă creații culinare mai pretențioase, mai rafinate,  ba chiar rarisime în unele țări.
</p>

<p>
  Dincolo de istoria sa cu ștate vechi în Europa și în America, căpșuna nu este numai un simbol al eleganței și al răsfățului culinar, ci și un aliment bogat în vitamine și în beneficii pentru sănătate. „Fructele iubirii” au nutrienți și substanțe care pot face minuni în organismul consumatorului. Datorită aportului caloric redus, dietele pe bază de căpșuni ajută la slăbit, reduc ridurile și susțin regenerarea pielii. Aceleași alimente mențin colesterolul în limite normale, reglează tensiunea arterială și tranzitul intestinal, întăresc imunitatea prin cantitatea considerabilă de vitamina C pe care o conțin, reduc riscul apariției cancerului și diabetului.
</p>

