<!-- Header -->
<section class="header-container">
  <!-- Background image -->
  <img class="header-image-background" src="assets/images/Header-Home.jpg" alt="">
  <div class="gradient"></div>

  <!-- Header content -->
  <div class="container header-content">
    <div class="header-logo">
      <img src="assets/images/Logo Ginivisa.png" alt="">
    </div>
    <!-- Header Title -->
    <div class="header-title">
      <h1 class="blue">Pentru sanatate si relaxare</h1>
      <h2 class="green">Fructe organice de pe valea Bistritei.</h2>
      <h2  class="green">Camping si cazare in judetul Gorj.</h2>
    </div>
  </div>
</section>

<!-- Page Content -->
<div class="container">

  <section class="flex-container">
    <!-- Description -->
    <div class="container-text">
      <p>
        Firma Ginivișa a fost fondată în anul 2020 și are proiecte atât în domeniul agricol prin cultivarea de fructe pe plantațiile proprii, cât și în domeniul turistic, fiind proprietara a două pensiuni în satul Gureni din comuna Peștișani, dar și a unui hub în București. Pensiunile situate pe Valea Bistriței Gorjene sunt “Hanul Vânătorului” și “Vila Ana”.
      </p>
      <p>
        Denumirea firmei ne duce cu gândul la tradițiile de altădată ale sătenilor din zonă. Ginivișa era, de fapt, locul în care tinerii satului, după o zi dogoritoare de vară, mergeau cu prietenii la scăldat în apa curgătoare a râului Bistrița. Ne aflăm în comuna Peștișani, sat Gureni, județul Gorj, vizavi de toaia Ginivișa, acolo unde preferăm zi de zi să evadăm din zgomotul marilor orașe și din aglomerația urbană. Ne dorim să aducem esența naturii în casele voastre, prin gustul fructelor proaspete crescute la poalele munților, dar și prin spațiile noastre de cazare, unde veți putea petrece zile minunate alături de cei dragi.
      </p>
    </div>
    <!-- Call to Action -->
    <div class="thumb-container">
      <div class="thumb-link comenzi-thumb" routerLink="/magazin-fructe">
        <div class="image-container">
          <img src="assets/images/comanda-fructe.jpg" alt="">
        </div>
        <h5>Comandă fructe</h5>
      </div>
      <div class="thumb-link comenzi-thumb"  routerLink="/turism">
        <div class="image-container">
          <img src="assets/images/comanda-cazare.jpg" alt="">
        </div>
        <h5>Rezervă cazare</h5>
      </div>
    </div>
  </section>

  <!-- Fructe + Turism -->
  <section class="flex-container fructe-turims">
    <div class="flex-item">
      <h3 class="green">Fructe</h3>
      <p>
        Pentru ca ne dorim sa aveți parte de o viață cât mai sănătoasă și să vă bucurați de gustul fructelor proaspăt culese din grădina bunicii, Ginivișa SRL vă pune la dispoziție produse naturale. Povestea noastră începe în urmă cu 6 ani, când, din pasiune pentru natură, am înființat prima plantație de căpșuni. Localnicii din zonă au fost încântați de calitatea fructelor noastre și au cerut mai mult. Cererea crescută nu doar că ne-a bucurat enorm, dar ne-a și motivat să extindem inițiativa. De la an la an, am cultivat tot mai mult, ajungând să plantăm noi culturi, precum cea de arahide și cea de zmeură.
      </p>
    </div>
    <div class="flex-item">
      <h3 class="green">Turism</h3>
      <p>
        Dorința de a face cunoscute frumusețile pitorești ale Gorjului a stat la baza fondării firmei Ginivișa S.R.L.. Pasiunea noastră față de ecoturism, intenția de a arăta lumii peisajele splendide modelate de mama natură pe Valea Bistriței de Gorj și atașamentul față de tradițiile și de cultura localnicilor de aici ne-au determinat să înființăm o asociație ce are ca scop protejarea și promovarea acestei zone turistice, dar și obținerea unor produse agricole reprezentative pentru regiunea noastră.
      </p>
    </div>
  </section>

</div>
