<swiper
      [loop]="true"
      [spaceBetween]="10"
      [navigation]="true"
      [thumbs]="{ swiper: thumbsSwiper }"
      class="mySwiper2" >

    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/0. Curte.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/1. Intrare.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/2. Meeting 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/3. Birou 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/3. Birou 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/3. Birou 03.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/4. Birou 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/4. Birou 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/5. Birou 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/6. Bucatarie 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/7. Baie 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/8. Terasa 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/9. Curte 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/9. Curte 02.jpg" />
    </ng-template>


    </swiper>
    <swiper
      (swiper)="thumbsSwiper = $event"
      [loop]="true"
      [spaceBetween]="10"
      [slidesPerView]="4"
      [freeMode]="true"
      [watchSlidesProgress]="true"
      class="mySwiper" >

      <ng-template swiperSlide>
        <img src="assets/images/BrainHub/0. Curte.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/1. Intrare.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/2. Meeting 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/3. Birou 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/3. Birou 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/3. Birou 03.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/4. Birou 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/4. Birou 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/5. Birou 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/6. Bucatarie 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/7. Baie 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/8. Terasa 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/9. Curte 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/9. Curte 02.jpg" />
    </ng-template>

    </swiper>
