<swiper
      [loop]="true"
      [spaceBetween]="10"
      [navigation]="true"
      [thumbs]="{ swiper: thumbsSwiper }"
      class="mySwiper2" >

    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/0. Curte.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/1. Meeting.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/2. Birou.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/3. Birou.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/4. Birou.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/5. Birou.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/11. Bucatarie.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/14. Baie.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/12. Terasa.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/21. Curte.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/25. Curte.jpg" />
    </ng-template>


    </swiper>
    <swiper
      (swiper)="thumbsSwiper = $event"
      [loop]="true"
      [spaceBetween]="10"
      [slidesPerView]="4"
      [freeMode]="true"
      [watchSlidesProgress]="true"
      class="mySwiper" >

      <ng-template swiperSlide>
        <img src="assets/images/BrainHub/0. Curte.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/1. Meeting.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/2. Birou.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/3. Birou.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/4. Birou.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/5. Birou.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/11. Bucatarie.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/14. Baie.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/12. Terasa.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/21. Curte.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/BrainHub/25. Curte.jpg" />
    </ng-template>

    </swiper>
