<swiper
      [loop]="true"
      [spaceBetween]="10"
      [navigation]="true"
      [thumbs]="{ swiper: thumbsSwiper }"
      class="mySwiper2" >


    <ng-template swiperSlide>
        <img src="assets/images/Fructe/002.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 03.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 05.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 06.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 07.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 08.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 09.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Zmeura 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Zmeura 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Zmeura 03.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Alune 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Alune 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Alune 03.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Alune 04.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Solar 01.jpg" />
    </ng-template>



    </swiper>
    <swiper
      (swiper)="thumbsSwiper = $event"
      [loop]="true"
      [spaceBetween]="10"
      [slidesPerView]="4"
      [freeMode]="true"
      [watchSlidesProgress]="true"
      class="mySwiper" >

      <ng-template swiperSlide>
        <img src="assets/images/Fructe/002.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 03.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 05.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 06.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 07.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 08.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Capsuni 09.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Zmeura 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Zmeura 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Zmeura 03.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Alune 01.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Alune 02.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Alune 03.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Alune 04.jpg" />
    </ng-template>
    <ng-template swiperSlide>
        <img src="assets/images/Fructe/Solar 01.jpg" />
    </ng-template>

    </swiper>
