<h4  class="green">Fructele</h4>
<p>
  Asemeni legumelor, și fructele sunt esența unei vieți sănătoase, care să-i țină pe doctori cât mai departe de noi. La Ginivișa, noi nu doar plantăm și creștem fructe cu savoarea naturii, ci facem din ele o adevărată marcă de excelență în domeniul agricol. Ferma Gorjului este mai mult decât o plantație. Este sursa voastră de sănătate și paradisul în care vă delectați papilele gustative
</p>

<p>
  De ce sunt căpșunile, zmeura și arahidele noastre atât de gustoase? Pentru că le cultivăm cu dragoste și le îngrijim atent, într-un loc ferit de toxinele poluării și de îngrășămintele artificiale. Chiar dacă trăim în secolul vitezei și a fast-food-ului, când adesea sărim peste micul-dejun sau îl luăm pe fugă din lipsa timpului, nu ignorați <strong>consumul</strong> de fructe într-o cantitate potrivită!
</p>

<p>
  Beneficiile pe termen lung ale fructelor sunt extrem de importante pentru organism. În primul rând, îl ajută la îndeplinirea sarcinilor zilnice, aducând aportul de energie necesar unui tonus optim. În al doilea rând, acestea pot reduce riscul bolilor cronice și oferă nutrienții necesari corpului pentru a avea o viață cât mai energică și mai sănătoasă. Consumul acestora duce la reducerea riscului bolilor de inimă și a apariției cancerului. Fibrele din interiorul lor scade posibilitatea apariției diabetului de tip 1 și de tip 2. De asemenea, fructele au o importanță mare în protejarea articulațiilor și în menținerea unei greutăți stabile. Potasiul ce se află în compoziția lor determină scăderea tensiunii arteriale și susține funcțiile rinichilor. Vitamina C, care se regăsește în cantități mari în unele fructe, facilitează vindecarea mai rapidă a țesuturilor, contribuie la menținerea sănătății cavității bucale și la păstrarea unui ten cât mai curat.
</p>
