<!-- Header -->
<section class="header-container">
  <!-- Background image -->
  <img class="header-image-background" src="assets/images/Header-Donatie.jpg" alt="">
  <div class="gradient"></div>

  <!-- Header content -->
  <div class="container header-content">
    <div class="header-logo">
      <img src="assets/images/Logo Ginivisa.png" alt="">
    </div>
    <!-- Header Title -->
    <div class="header-title">
      <h1 class="green">Pentru sanatate si relaxare</h1>
    </div>
  </div>
</section>


<!-- Page Content -->
<div class="container">

  <section>
    <h3 class="green">Donație</h3>
    <P>Ne dorim să investim în monumentele de cult ale satului Gureni din <a href="https://en.wikipedia.org/wiki/Pe%C8%99ti%C8%99ani" target="blank">comuna Peștișani</a>, județ Gorj. Cu această ocazie vă invităm și pe dumneavoastră să ne oferiți sprijinul.</P>
  </section>

  <section>
      <h4 class="green" >Pentru ce puteți dona?</h4>
      <P>Biserica de lemn din Gureni, comuna Peștișani, județul Gorj, a fost construită în 1735. Aceasta este situată în liniștea muntelui, în apropierea râului Bistrița, înconjurată de cimitirul satului. Structura este făcută din lemn a cărui vârstă se poate citi ușor. Interiorul necesită o intervenție atât la pardoseală, cât și la pereți. Toate podoabele bisericești au fost mutate la Mănăstirea Tismana, iar picturile abia se mai zăresc din cauza timpului trecut peste ea. Biserica are hramul de „Sf. Cuvioasă Paraschiva” ce se sărbătorește pe data de 14 octombrie. </P>
      <P> Actualul preot, Băloi Grigore Cosmin, are în Parohie două biserici, cea din Gureni și cea din Boroșteni, pe care cu ajutorul comunității și al primăriei a început să le renoveze. În perioada următoare, cu banii strânși, preotul dorește să intervină la acoperișul bisericii din Gureni prin înlocuirea tablei și să renoveze biserica din lemn pentru a se putea ține și acolo slujbe.</P>
      <P>Sperăm să fiți alături de noi în această acțiune și pentru a arăta dorința noastră în realizarea acestor obiective, <a href="https://en.wikipedia.org/wiki/Grigore_Rosu"  target="blank">familia Roșu</a> va pune aceași sumă cu cea donată de persoane fizice și societăți comerciale în limita a 25.000 RON.</P>
  </section>

  <section>
      <h4 class="green" >Cum puteți dona?</h4>
      <P>Dacă sunteți o persoană fizică care realizează venituri din salarii, activități independente, pensii impozabile, cedare folosință bunuri, active agricole și activități sportive aveți posibilitatea de a dona 3.5% din impozitul anual pe salariu prin completarea <a href="https://cdn.shopify.com/s/files/1/0521/0587/1556/files/Declaratia_230.pdf?v=1608651936"  target="blank">Declarației 230</a>. Menționăm că venitul dumneavoastră net nu va fi afectat de această donație, banii fiind scăzuți din sumele care se plătesc la stat.</P>
      <P> Potrivit Codului Fiscal, puteți sponsoriza Parohia Boroșteni, înregistrată în Registrul entităților/ unităților de cult și veți beneficia de reduceri fiscale, conform Legii nr. 32/1994, cu modificările și completările ulterioare, atât în situația în care reprezentați <strong>o societate comercială</strong> care plătește impozit pe profit, cât și în situația în care reprezentați <strong>o microîntreprindere</strong>, în baza unui contract de sponsorizare astfel:</P>
        <P>-  Dacă sunteți societate comercială care plătește impozit pe profit, sumele aferente sponsorizărilor se scad din impozitul pe profit datorat la nivelul valorii minime dintre următoarele: 0,75% din cifra de afaceri, respectiv 20% din impozitul pe profit datorat.</P>
        <P>-  Dacă sunteți microîntreprindere, puteți sponsoriza Parohia Boroșteni, potrivit legii. Sumele aferente sponsorizărilor se scad din impozitul pe venit datorat pentru trimestrul IV, până la nivelul valorii ce reprezintă 20% din impozitul pe venit.</P>
  </section>

  <section>
      <h4 class="green" >Până când puteți dona?</h4>
      <P>Dacă reprezentați o societate comercială sau o microîntreprindere puteți sponsoriza la sfârșitul fiecărui trimestru. </P>
      <P> Dacă doriți să donați ca persoană fizică, termenul pentru depunerea declarației va fi 15 martie. </P>
  </section>

  <section>
      <h4 class="green" >Parohia Boroșteni</h4>
      <P><strong>Preot:</strong> Băloi Grigore Cosmin </P>
      <P><strong>Număr de telefon:</strong> 0766337470 </P>
      <P><strong>Adresă de email:</strong> baloi.cosmin@yahoo.com</P>
      <P><strong>Adresă:</strong> comuna Peștișani, sat Boroșteni, strada Castanului, nr. 222 </P>
      <P><strong>CUI:</strong> 13750438 </P>
      <P><strong>Bancă:</strong> CEC Bank, sucursala Târgu Jiu, județ Gorj </P>
      <P><strong>Cod bancar:</strong> RO21CECEGJ0136RON0124727 </P>
  </section>

</div>
